html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-color: #6b6b6b;
    height:100%;
    margin:0;
}
#header1{
    margin: 0,auto;
    padding-top: 0;
    display:flex;/*預設橫列排版*/
}
header{
    margin: 0,auto;
    display:flex;/*預設橫列排版*/
    justify-content:space-between;/*使nav 和 logo各自對其左右*/
    background-color: #8f8f8f;
    padding: 10px;
    border-left: 3PX #d8d8d8 SOLID;
    border-top:1PX #d8d8d8 SOLID;
    border-bottom:2PX #d8d8d8 SOLID;
    border-radius: 20PX;
}
.icon h1 {
    align-items: center;
    width: 60%;
    margin: 0,auto;
    display: inline-block;
    color: #ffffff;
}
.icon h1{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
    border-radius:20px;
    align-items: center;
    display: block;
    width: 100%;
    height: auto;
}
.icon {
    width:300px;
    margin: 0,auto;
    border-color:1px #5f5f5f solid;
    align-self: flex-end;/*使logo底邊可以切齊nav*/ 
}
#icon_img{
    padding-left: 5%;
    padding-bottom: 3%;
    display: block;
    width: 50%;
    height: auto;
    align-self: flex-end;/*使logo底邊可以切齊nav*/
}
nav{
    border-radius: 50PX;
 /*   border-bottom:5PX rgb(206, 206, 206) SOLID;*/
    padding-left: 4%;
    width:700px;
    background-color: #5f5f5f;
    display: flex;/*預設navitem橫列排版*/
}
.navitem div{
    border-color:3px #000000 solid;
    display: inline-flex;
}
.navitem{
    align-self: center;
    text-decoration: none;
    margin:0 auto;
    align-items: center;/*使內容置中*/
}
.navitem__text{
    font-size: 1.5vmin;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
    position: relative; 
} 
.navitem__text:hover{
    background-color: rgba(80, 77, 77, 0.295);
    color: #000;
}
#profile{
    color:rgba(212, 212, 212, 0.877);
    font-weight: 300;
}
#content_distrct3 div{
    margin:0,auto;
    vertical-align: center;/*就算各個div行數不同，也一律向上對其*/
    padding-left: 2%;
}
#danceId{
    padding-top: 7%;
}
#content_distrct3 h1{
    margin: 0,auto;
    color:#ffffff;
}
.dance{
    display: inline-block;
}
#content_distrct3 h3{
    margin: 0,auto;
    color:#ffffff;
}
#content_distrct3{
    background-image:url(../img/background02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 80%;
    width: 100%;
    padding-bottom: 3%;
    margin: 0px auto;
    border:1px solid #6b6b6b;
    text-align: center;
}
#content_distrctFinal div{
    display: inline-block;
    box-sizing: border-box;
}
#content_distrctFinal{
    width: 100%;
    height: 30%;
    background-color: #8f8f8f;
    padding-top:0.01%;
    margin: 0px auto;
 }
 .content_distrctFinal_word {
    padding-top: 10px;
    padding-left: 10%;
    width: 45%;
    /*margin-top: 300px;*/
    color: #ffffff;
    text-align: center;
}
 .content_distrctFinal_img{
     float: right;
    width:45%;
    color: #ffffff;
    padding-top: 10px;
    padding-right: 10%;
    text-align: center;
    vertical-align: top;/*就算各個div行數不同，也一律向上對其*/
}
.content_distrctFinal_img a{
    padding-left: 5px;
}
.clearbox{
    clear:both;
}
 